@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
	*{
		margin: 0px;
		padding:0px;
	}

  body{
		font-family: 'Roboto Condensed'; 
	}

  .banner{
    width: 100vh;
    height: 100vh;
    overflow: hidden;
    display: inline;
    justify-content: center;
    align-items: center;
    }

    .banner video {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    }

    .banner .content{
      position: relative;
      z-index: 1;
      margin: 0;
      display: flex;
      top: none;
      left: 200px;
      right: 200px;
    }

	.nav_tabs{
		width:980px;
		height: 600px;
		margin: 10px auto;
		position: relative;
	}

	.nav_tabs ul{
		list-style: none;
	}

	.nav_tabs ul li{
		float: left;
	}

	.tab_label{
		display: block;
		width: 156px;
		background-color:#0e0e0e;
		padding: 20px;
    color:#FFFACD;
		font-size: 20px;
		cursor: pointer;
    text-align: center;
	}


	.nav_tabs .rd_tab { 
	display:none;
	position: absolute;
}

.nav_tabs .rd_tab:checked ~ label { 
	background-color: #dd65a7;
}

.tab-content{
	border-top: solid 5px #dd65a7;
	display: none;
	position: absolute;
	height: 600px;
	width: 800x;
	left: 0;	
}

.rd_tab:checked ~ .tab-content{
	display: block;
}
.tab-content h2{
	padding: 10px;
	color: #010211;
}
.tab-content article{
	padding: 10px;
	color: #010211;
}
